<div class="mainDiv">
    <div>
       <h1>Shopping Cart</h1>
       <ng-container *ngIf="cartTotalQuantity$ | async as totalQTY; else otherDiv">
         <div class="row">
            <div class="col-4">
                <h5>You have {{ totalQTY }} items in your shopping cart.</h5>
             </div>
            <div class="col">
               <button class="btn btn-light" (click)="clearCart()">Clear Cart</button>
            </div>
         </div>
       </ng-container>
       <ng-template #otherDiv>
           <div class="row">
              <h5>You have 0 items in your shopping cart.</h5>
           </div>
       </ng-template>  
    </div>
    <ng-container *ngIf="cart$ | async as cart">
        <div class="mt-4">
            <table class="table">
                <thead>
                    <th class="col-2"></th>
                    <th class="col-3" style="text-align: left;">Product</th>
                    <th class="col-4">Quantity</th>
                    <th class="col-3">Price</th>
                </thead>
                    <tbody>
                        <tr *ngFor="let ct of cart?.items">
                            <td><img [src]='ct?.imageUrl' class='rounded-image'/></td>
                            <td style="text-align: left;">
                                <i>{{ct?.title}}</i>
                            </td>
                            <td>
                                <product-quantity [product]='ct' [quantity]='ct?.quantity' (updateQTy)="updateQuantity($event)"></product-quantity>
                            </td>
                            <td>
                                <i *ngIf="ct.price && ct.quantity">
                                    {{ ct.price * ct.quantity | currency:'USD'}}
                                </i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b><i>{{cart?.totalPrice | currency:'USD' }}</i></b></td>
                        </tr>
                    </tfoot>
            </table>
        </div>
        <div *ngIf="cart.items && cart.items.length > 0" class="mt-4">
            <button class="btn btn-danger" (click)="navigate()">Check Out</button>
        </div>
    </ng-container>
</div>