<div class="mainDiv">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills sticky-top flex-column" style="cursor: pointer;">
                <li class="nav-item border-bottom p-1" >
                    <a class="nav-link" routerLink="/product" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All Categories</a>
                </li>
                <li class="nav-item border-bottom p-1" *ngFor="let category of categories$ | async">
                    <a class="nav-link" routerLink='/product' [queryParams]="{category: category?.key}" routerLinkActive="active">
                        {{category?.name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col mx-2" *ngIf="products$ | async as products">
            <ng-container *ngIf="{ ob: ob$ | async } as observable">
                <div class="row mb-2" *ngFor="let index of counter(products.length); let i= index">
                    <div class="col" *ngIf="products[i*2] as p">
                        <product-card [product]="p" 
                            [displayFooter]="true" 
                            [quantity]="getqTY(observable.ob, p.key)" 
                            (addToCart)="addToCart($event)"
                            (updateQTy)="updateQuantity($event)">
                        </product-card>  
                    </div>
                    <div class="col" *ngIf="products[i*2 +1] as p">
                        <product-card [product]="p" 
                            [displayFooter]="true" 
                            [quantity]="getqTY(observable.ob, p.key)" 
                            (addToCart)="addToCart($event)"
                            (updateQTy)="updateQuantity($event)">
                        </product-card>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>  
</div>